  
# This file provides an overview of code owners in the `fluentbit` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `fluentbit` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @a-thaler @PK85 @pbochynski @kwiatekus

/.github/ISSUE_TEMPLATE @nhingerl @grego952 @klaudiagrz @majakurcius @mmitoraj
/.github @kyma-project/prow
/cloudsql-proxy @ralikio @szwedm @tillknuesting @wozniakjan @hanngos @piotrmiskiewicz @pk85
/common @kyma-project/prow
/docker-registry @cortey @dbadura @m00g3n @moelsayed @pprecel
/etcd @pk85 @ralikio @szwedm @tillknuesting @wozniakjan @hanngos @piotrmiskiewicz
/fluent-bit @dennis-ge @lindnerby @rakesh-garimella @skhalash @a-thaler @chrkl
/grafana @a-thaler @chrkl @dennis-ge @lindnerby @rakesh-garimella @skhalash
/jaeger-operator @a-thaler @chrkl @dennis-ge @lindnerby @rakesh-garimella @skhalash
/k8s-tools @kyma-project/prow
/kaniko-executer @pprecel @cortey @dbadura @m00g3n @moelsayed
/kiali @skhalash @a-thaler @chrkl @dennis-ge @lindnerby @rakesh-garimella
/kiwigrid-sidecar @chrkl @dennis-ge @lindnerby @rakesh-garimella @skhalash @a-thaler
/loki @skhalash @a-thaler @chrkl @dennis-ge @lindnerby @rakesh-garimella
/minio @cortey @dbadura @m00g3n @moelsayed @pprecel
/oauth2-proxy @a-thaler @chrkl @dennis-ge @lindnerby @rakesh-garimella @skhalash
/prometheus-node-exporter @a-thaler @chrkl @dennis-ge @lindnerby @rakesh-garimella @skhalash

# All .md files
*.md @bszwarc @majakurcius @tomekpapiernik @kazydek @klaudiagrz @alexandra-simeonova @mmitoraj
