  
# This file provides an overview of code owners in the `third-party-images` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `third-party-images` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/prow

# The `docker-registry` repo
/docker-registry/ @m00g3n @pPrecel @dbadura @moelsayed @cortey

# The `minio` repo
/minio/ @m00g3n @pPrecel @dbadura @moelsayed @cortey

# The `minio client` repo
/minio-mc/ @m00g3n @pPrecel @dbadura @moelsayed @cortey

# The `kaniko-executer` repo
/kaniko-executer/ @m00g3n @pPrecel @dbadura @moelsayed @cortey

# The `serverless-bench` repo
/serverless-bench/ @m00g3n @pPrecel @dbadura @moelsayed @cortey

# The `cloudsql-proxy` repo
/cloudsql-proxy/ @piotrmiskiewicz @ksputo 

# The `etcd` repo
/etcd/ @piotrmiskiewicz @ksputo

# The `fluent-bit` repo
/fluent-bit/ @a-thaler @skhalash @lilitgh @rakesh-garimella @chrkl @lindnerby

# The `grafana` repo
/grafana/ @a-thaler @skhalash @lilitgh @rakesh-garimella @chrkl @lindnerby

# The `jaeger-operator` repo
/jaeger-operator/ @a-thaler @skhalash @lilitgh @rakesh-garimella @chrkl @lindnerby

# The `kiali` repo
/kiali/ @a-thaler @skhalash @lilitgh @rakesh-garimella @chrkl @lindnerby

# The `loki` repo
/loki/ @a-thaler @skhalash @lilitgh @rakesh-garimella @chrkl @lindnerby

# The `oauth2-proxy` repo
/oauth2-proxy/ @a-thaler @skhalash @lilitgh @rakesh-garimella @chrkl @lindnerby

# The `prometheus-node-exporter` repo
/prometheus-node-exporter/ @a-thaler @skhalash @lilitgh @rakesh-garimella @chrkl @lindnerby

# The `k8s-tools` repo
/k8s-tools/ @kyma-project/prow

# All .md files
*.md @majakurcius @klaudiagrz @alexandra-simeonova @mmitoraj @NHingerl
